<!DOCTYPE html>
<html>
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" rel="stylesheet">

    <title>Systematic Purchase Calculator</title>

</head>

<body>

<div>
    <h1 class="text-center">Systematic Purchase Calculator</h1>
</div>

<br />
<br />
<br />

<form method="post">

    <div class="container">
        <div class="row">
            {#<div class="dropdown col-md-3">#}
                {#<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Account Type#}
                    {#<span class="caret"></span></button>#}
                {#<ul class="dropdown-menu">#}
                    {#<li><a href="#">NQ</a></li>#}
                    {#<li><a href="#">IRA</a></li>#}
                    {#<li><a href="#">401k</a></li>#}
                {#</ul>#}
            {#</div>#}
            <div class="dropdown col-md-3">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account type
                    <span class="caret"></span></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">NQ/button>
                    <button class="dropdown-item" type="button">Qualified</button></button>
                </div>
            </div>
            <div class="dropdown col-md-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Risk Tolerance
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Growth</a></li>
                    <li><a href="#">Aggressive Growth</a></li>
                    <li><a href="#">Income and Growth</a></li>
                </ul>
            </div>
            <div class="dropdown col-md-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Model
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">IVV/NCLEX</a></li>
                    <li><a href="#">Passive Core</a></li>
                    <li><a href="#">Vang/NCLEX</a></li>
                </ul>
            </div>
            <div class="form-group col-md-3">
                <label for="dollaramount"> </label>
                <input type="text" class="form-control" id="dollaramount" value="Dollar amount to be invested">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <input type="submit" class="btn btn-info" id="allocate" value="Allocate!">
            </div>
        </div>
    </div>

    </div>
</form>
</body>
</html>
