<!DOCTYPE html>
<html>
<head>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <title>Systematic Purchase Calculator</title>

</head>

<body>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

<div>
    <h1 class="text-center">Systematic Purchase Calculator</h1>
</div>

<br/>
<br/>
<br/>

<form method="post">

    <div class="container">
        <div class="row">
            <div class="dropdown col-md-3">
                {% include('AppBundle:Fragments:accounttype.dropdown.html.twig') %}
            </div>
            <div class="dropdown col-md-3">
                {% include('AppBundle:Fragments:risktol.dropdown.html.twig') %}
            </div>
            <div class="dropdown col-md-3">
               {% include('AppBundle:Fragments:model.dropdown.html.twig') %}
            </div>
            <div class="form-group col-md-3">
                <label for="dollaramount"> </label>
                <input type="text" class="form-control" id="dollaramount" value="Dollar amount to be invested">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <input type="submit" class="btn btn-info" id="allocate" value="Allocate!">
            </div>
        </div>
    </div>

    </div>
</form>
</body>
</html>
