<select id="accountType" name="accountType">
    <option value="">select account type</option>
    {% for i in accountTypes %}
        <option value="{{ i.id }}">{{ i.type }}</option>
    {% endfor %}
</select>

