<select>
    {% for i in accountTypes %}
        {% if app.request.get('acct_type') == i.type %}
            <option value="{{ i.type }}" selected>{{ i.type }}</option>
        {% else %}
            <option value="{{ i.type }}">{{ i.type }}</option>
        {% endif %}
    {% endfor %}
</select>

