<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Asset classes</th>
            <th>Percentage</th>
            <th>Dollar amount</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>