<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Account type
    <span class="caret"></span></button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    {% for a in accountTypes %}
        <li {% if accountTypes is defined and accountType is not empty%}{% endif %}>
            <a href="{{ path('app_homepage') }}">{{ a.getAccountType() }}</a>
        </li>
    {% endfor %}
    {#<li><a href="#">NQ</a></li>#}
    {#<li><a href="#">Qualified</a></li>#}
</ul>

