<select>
    {% for i in models %}
        {% if models is defined and models is not empty%}>
            <option value="{{ i.name }}" selected>{{ i.name }}</option>
        {% endif %}
    {% endfor %}
</select>
