<select id="riskTol" name="riskTol">
    <option value="">select a risk tolerance</option>
    {% for i in riskTolerances %}
         <option value="{{ i.id }}">{{ i.name }}</option>
    {% endfor %}
</select>

